*.o
/.vs
/CxImageFull_vc14.VC.VC.opendb
/CxImageFull_vc14.VC.db
/bin
/x64
/cximage/x64
/jasper/x64
/demo/x64
/jbig/x64
/jpeg/x64
/libpsd/x64
/mng/x64
/png/x64
/raw/x64
/tiff/x64
/zlib/x64
libpsd/Debug/
mng/Debug/
jpeg/Debug/
png/Debug/
jbig/Debug/
jasper/Debug/
tiff/Debug/
demo/Debug/
raw/Debug/
cximage/Debug/
cximage/CxImageDLL/Debug/
zlib/Debug/
Debug/
jbig/Release/
demo/Release/
jasper/Release/
jpeg/Release/
cximage/Release/
libpsd/Release/
cximage/CxImageDLL/Release/
png/Release/
mng/Release/
raw/Release/
tiff/Release/
Release/
CxImageFull_vc10.sdf
CxImageFull_vc10.v11.suo
CxImageFull_vc11.opensdf
CxImageFull_vc11.v11.suo
CxImageFull_vc11.sdf
*.vcxproj.user
